<?xml version="1.0" encoding="utf-8"?>
<web-app
	xmlns="http://www.oracle.com/webfolder/technetwork/jsc/xml/ns/javaee/index.html"
	version="2.5">
	<servlet>
		<servlet-name>TruthTableGen</servlet-name>
		<servlet-class>truthtablegen.TruthTableGenServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>TruthTableGen</servlet-name>
		<url-pattern>/truthtablegen</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>eval</servlet-name>
		<servlet-class>truthtablegen.EvalServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>eval</servlet-name>
		<url-pattern>/eval</url-pattern>
	</servlet-mapping>
	
	<welcome-file-list>
		<welcome-file>truthtablegen.jsp</welcome-file>
	</welcome-file-list>
</web-app>
